.section-unique {
  // padding-top: 120px;
  // padding-bottom: 120px;
  padding: 80px 150px 120px 150px;

  .content {
    // padding-right: 17px;
    // padding-left: 17px;

    .row-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      // padding: 0px 90px;

      .col-left {
        width: 50%;

        .img-fluid {
          max-width: 100%;
          height: auto;
        }
      }
      img {
        vertical-align: middle;
      }

      .col-right {
        width: 47%;
        h6.lined-heading {
          display: table;
          margin-bottom: 30px;
          width: 100%;
          padding-right: 30px;
          white-space: nowrap;
          letter-spacing: 0.2em;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          color: #9f662d;

          &::after {
            border-top: 1px solid #9f662d;
            content: "";
            display: table-cell;
            position: relative;
            top: 12px;
            width: 100%;
            left: 30px;
          }
        }
        h3 {
          font-size: 36px;
          font-weight: 300;
          margin-bottom: 30px;
          text-transform: uppercase;
          color: #9f662d;
        }

        p {
          font-family: "Montserrat", Helvetica, Arial, sans-serif;
          font-weight: 400;
          line-height: 1.65;
          font-size: 16px;
          margin-bottom: 26px;
          color: #243746;

          .btn-bottom {
            text-decoration: none;
            text-transform: uppercase;
            margin: 0 auto;
            width: max-content;
            background-color: #758592;
            color: #fff;
            border: 1px solid transparent;
            padding: 15px;

            .arrows {
              position: relative;
              width: 17px;
              height: 7.36px;
              overflow: hidden;
              margin-top: 3.5px;
              margin-left: 15px;

              .fa-minus {
                color: #fff;
                stroke: currentColor;
              }

              .fa-arrow-right {
                display: none;
                position: absolute;
                color: #fff;
                height: 7.36px;
                width: 17px;
                fill: currentColor;
                top: 2px;
                left: -1px;
                transition: 0.2s;
              }
            }

            &:hover {
              background-color: #243746;
              .fa-minus {
                // display: none;
              }
              .fa-arrow-right {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 986px) and (max-width: 1190px) {
}

@media only screen and (min-width: 770px) and (max-width: 985px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 769px) {
  .section-unique {
    padding: 80px 60px 80px 60px;

    .content{

      .row-content{
        flex-direction: column;

        .col-left{
          width: 80%;
        }

        .col-right{
          width: 80%;
        }
      }
    }
  }
}
