*{
  box-sizing: border-box;
}


body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  background-color: #F5F4F2;
  letter-spacing: 0;
  line-height: 1.65;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

